.message { padding: 5px; margin-bottom: 10px; font-weight: bold; border-radius: 3px;
	background: #FFFFEA; border: 2px solid #F7F8B4; }
.message.bad { background: #FED0D0; border: 2px solid #FF7373; }

#registration-details,
#payment-details { line-height: 18px; margin-bottom: 20px; }
#registration-details dt,
#payment-details dt { width: 70px; float: left; font-weight: bold; }