.clear { clear: both; }
.registration-links a { background: #222; color: #FFF; padding: 4px; line-height: 25px; }
.registration-links.right { float: right; }
.registration-links.right a { margin-left: 5px; }