#Sendthereminderemail { margin-top: 10px; }
#Sendthereminderemail .fieldgroupField { font-size: 11px; color: #666; }
#Sendthereminderemail .middleColumn { line-height: 24px; }
#Sendthereminderemail input { width: 40px; margin-right: 5px; }